<main class="main-wrapper">

    <div class="axil-checkout-area axil-section-gap">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="axil-checkout-notice">
                            <div class="tab-pane" id="nav-address" role="tabpanel">
                                <div class="axil-dashboard-address">
                                    
                                    <a href="#" onclick="return false;" (click)="newAddress()">NUEVA DIRECCIÓN +</a>
                                    <div class="row row--30">
                                        <ng-container *ngFor="let list_address of listAdressClient;let i=index">
                                            <div class="col-lg-6">
                                                <div class="address-info mb--40">
                                                    <div class="addrss-header d-flex align-items-center justify-content-between">
                                                        <h4 class="title mb-0">Dirección: #{{ i+1 }}</h4>
                                                        <a href="#" onclick="return false;" class="address-edit" (click)="addressClientSelectedT(list_address)"><i class="far fa-edit"></i></a>
                                                    </div>
                                                    <ul class="address-details">
                                                        <li>Nombre y apellido: {{ list_address.name + ' ' +list_address.surname }}</li>
                                                        <li>Email: {{ list_address.email }}</li>
                                                        <li>Telefono: {{ list_address.telefono }}</li>
                                                        <li class="mt--30">{{ list_address.address }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ng-container>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="formGroup">
                            <form class="axil-checkout-billing" [formGroup]="formGroup">
                                <h4 class="title mb--40">Detalles de facturacion</h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Nombres Completo <span>*</span></label>
                                            <input type="text" id="first-name" 
                                            [class.is-invalid]="isControlInvalid('name')"
                                            [class.is-valid]="isControlValid('name')"
                                            formControlName="name"
                                            name="name" placeholder="Adam">

                                            <div class="valid-feedback" *ngIf="isControlValid('name')">
                                                El nombre se ingresó correctamente
                                            </div>
                                            <div
                                            class="invalid-feedback"
                                            *ngIf="controlHasError('required', 'name')"
                                            >
                                            Se requiere El nombre
                                            </div>
                                            <div
                                            class="invalid-feedback"
                                            *ngIf="controlHasError('minlength', 'name')"
                                            >
                                            El nombre debe tener al menos 3 letras
                                            </div>
                                            <div
                                            class="invalid-feedback"
                                            *ngIf="controlHasError('maxlength', 'name')"
                                            >
                                            El nombre debe tener un máximo de 250 letras
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Apellido Completo <span>*</span></label>
                                            <input type="text" id="last-name"
                                            [class.is-invalid]="isControlInvalid('surname')"
                                            [class.is-valid]="isControlValid('surname')"
                                            formControlName="surname"
                                            name="surname" placeholder="John">

                                            <div class="valid-feedback" *ngIf="isControlValid('surname')">
                                                El apellido se ingresó correctamente
                                            </div>
                                            <div
                                              class="invalid-feedback"
                                              *ngIf="controlHasError('required', 'surname')"
                                            >
                                              Se requiere El apellido
                                            </div>
                                            <div
                                              class="invalid-feedback"
                                              *ngIf="controlHasError('minlength', 'surname')"
                                            >
                                              El apellido debe tener al menos 3 letras
                                            </div>
                                            <div
                                              class="invalid-feedback"
                                              *ngIf="controlHasError('maxlength', 'surname')"
                                            >
                                              El apellido debe tener un máximo de 250 letras
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Pais <span>*</span></label>
                                    <select id="Region" [class.is-invalid]="isControlInvalid('pais')"
                                    [class.is-valid]="isControlValid('pais')"
                                    formControlName="pais" name="pais">
                                        <option value="Peru">Peru</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Chile">Chile</option>
                                        <option value="Brasil">Brasil</option>
                                    </select>

                                    <div class="valid-feedback" *ngIf="isControlValid('pais')">
                                        El pais se ingresó correctamente
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('required', 'pais')"
                                    >
                                      Se requiere El pais
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('minlength', 'pais')"
                                    >
                                      El pais debe tener al menos 1 letras
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('maxlength', 'pais')"
                                    >
                                      El pais debe tener un máximo de 35 letras
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Dirección <span>*</span></label>
                                    <input type="text" id="address1" class="mb--15" 
                                    [class.is-invalid]="isControlInvalid('address')"
                                    [class.is-valid]="isControlValid('address')"
                                    formControlName="address"
                                    name="address" placeholder="Calle y numero">
                                    <div class="valid-feedback" *ngIf="isControlValid('address')">
                                        La dirección se ingresó correctamente
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('required', 'address')"
                                    >
                                      Se requiere La dirección
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('minlength', 'address')"
                                    >
                                      La dirección debe tener al menos 1 letras
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('maxlength', 'address')"
                                    >
                                      La dirección debe tener un máximo de 250 letras
                                    </div>
                                    <input type="text" id="address2" [class.is-invalid]="isControlInvalid('referencia')"
                                    [class.is-valid]="isControlValid('referencia')"
                                    formControlName="referencia" name="referencia" placeholder="Departamento, piso, numero (opcional)">
                                </div>
                                <div class="form-group">
                                    <label>Provincia</label>
                                    <input type="text" [class.is-invalid]="isControlInvalid('region')"
                                    [class.is-valid]="isControlValid('region')"
                                    formControlName="region" name="region" id="country">

                                    <div class="valid-feedback" *ngIf="isControlValid('region')">
                                        La región se ingresó correctamente
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('required', 'region')"
                                    >
                                      Se requiere La región
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('minlength', 'region')"
                                    >
                                      La región debe tener al menos 1 letras
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('maxlength', 'region')"
                                    >
                                      La región debe tener un máximo de 35 letras
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Ciudad <span>*</span></label>
                                    <input type="text" [class.is-invalid]="isControlInvalid('ciudad')"
                                    [class.is-valid]="isControlValid('ciudad')"
                                    formControlName="ciudad" name="ciudad" id="town">

                                    <div class="valid-feedback" *ngIf="isControlValid('ciudad')">
                                        La ciudad se ingresó correctamente
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('required', 'ciudad')"
                                    >
                                      Se requiere La ciudad
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('minlength', 'ciudad')"
                                    >
                                      La ciudad debe tener al menos 1 letras
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('maxlength', 'ciudad')"
                                    >
                                      La ciudad debe tener un máximo de 35 letras
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Telefono <span>*</span></label>
                                    <input type="tel" [class.is-invalid]="isControlInvalid('telefono')"
                                    [class.is-valid]="isControlValid('telefono')"
                                    formControlName="telefono" name="telefono" id="phone">

                                    <div class="valid-feedback" *ngIf="isControlValid('telefono')">
                                        El telefono se ingresó correctamente
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('required', 'telefono')"
                                    >
                                      Se requiere El telefono
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('minlength', 'telefono')"
                                    >
                                      El telefono debe tener al menos 1 letras
                                    </div>
                                    <div
                                      class="invalid-feedback"
                                      *ngIf="controlHasError('maxlength', 'telefono')"
                                    >
                                      El telefono debe tener un máximo de 35 letras
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Email <span>*</span></label>
                                    <input type="email" [class.is-invalid]="isControlInvalid('email')"
                                    [class.is-valid]="isControlValid('email')"
                                    formControlName="email" name="email" id="email">

                                    <div class="valid-feedback" *ngIf="isControlValid('email')">
                                        El correo electrónico se ingresó correctamente
                                    </div>
                                    <div
                                    class="invalid-feedback"
                                    *ngIf="controlHasError('required', 'email')"
                                    >
                                        Correo electronico es requerido
                                    </div>
                                    <div
                                    class="invalid-feedback"
                                    *ngIf="controlHasError('email', 'email')"
                                    >
                                        El formato de correo electrónico es incorrecto
                                    </div>
                                    <div
                                    class="invalid-feedback"
                                    *ngIf="controlHasError('maxLength', 'email')"
                                    >
                                        El correo debe tener un máximo de 250 letras
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Notas (opcional)</label>
                                    <textarea id="notes" rows="2" [class.is-invalid]="isControlInvalid('nota')"
                                    [class.is-valid]="isControlValid('nota')"
                                    formControlName="nota" name="nota" placeholder="Aclaraciones sobre tu pedido."></textarea>
                                </div>
                                <button type="button" *ngIf="!addressClientSelected" (click)="store()" class="axil-btn btn-bg-primary checkout-btn" [disabled]="formGroup.invalid">REGISTRAR DIRECCIÓN</button>
                                <button type="button" *ngIf="addressClientSelected" (click)="store()" class="axil-btn btn-bg-primary checkout-btn" [disabled]="formGroup.invalid">GUARDAR CAMBIOS DIRECCIÓN</button>
                            </form>
                        </ng-container>
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="axil-order-summery order-checkout-summery">
                            <h5 class="title mb--20">Tu orden</h5>
                            <div class="summery-table-wrap">
                                <table class="table summery-table">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let cart of listCarts">
                                            <tr class="order-product">
                                                <td>{{ cart.product.title }} <span class="quantity">x{{ cart.cantidad }}</span></td>
                                                <td>{{ cart.total }} USD </td>
                                            </tr>
                                        </ng-container>
                                        
                                        <tr class="order-subtotal">
                                            <td>Subtotal</td>
                                            <td>{{ totalCarts }} USD</td>
                                        </tr>
                                        <tr class="order-shipping">
                                            <td colspan="2">
                                                <div class="shipping-amount">
                                                    <span class="title">Metodo de envio</span>
                                                    <span class="amount">$0.00</span>
                                                </div>
                                                <div class="input-group">
                                                    <input type="radio" id="radio1" name="shipping" checked>
                                                    <label for="radio1">Envio gratis</label>
                                                </div>
                                                <div class="input-group">
                                                    <input type="radio" id="radio2" name="shipping">
                                                    <label for="radio2">Retirar en el local</label>
                                                </div>
                                                <div class="input-group">
                                                    <input type="radio" id="radio3" name="shipping">
                                                    <label for="radio3">Retirar en sucursal OCA</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <td>Total</td>
                                            <td class="order-total-amount">{{ totalCarts }} USD</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="order-payment-method">
                                
                                <div class="single-payment">
                                    <div class="input-group justify-content-between align-items-center">
                                        <input type="radio" id="radio6" name="payment" checked>
                                        <label for="radio6">Paypal</label>
                                        <img src="./assets/images/icons/cart/cart-1.png" alt="Paypal payment">
                                    </div>
                                    <p>Paga a través de PayPal; puedes pagar con tu  dinero en cuenta o tarjeta de crédito si no tienes una cuenta de PayPal.</p>
                                </div>
                            </div>
                            <div #paypal>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</main>