<div [class]="'alert alert-custom alert-notice alert-light-'+alert+' fade show mb-0'" role="alert">
    <ng-container *ngIf="alert=='primary'">
        <div class="alert-icon"><i class="flaticon2-gear"></i></div>
    </ng-container>
    <ng-container *ngIf="alert=='warning' || alert=='danger' || alert=='dark'">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
    </ng-container>

    <ng-container *ngIf="alert=='success'">
        <div class="alert-icon"><i class="flaticon2-bell-alarm-symbol"></i></div>
    </ng-container>
    <ng-container *ngIf="alert=='info'">
        <div class="alert-icon"><i class="flaticon2-crisp-icons"></i></div>
    </ng-container>

    <div class="alert-text">{{txt}}</div>
    <div class="alert-close">
        <button type="button" (click)="toast.close()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="ki ki-close"></i></span>
        </button>
    </div>

</div>