:host {
  width: 100%;

  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.card-custom-style {
  height: 175px;
  background-color: #4ab58e;
  background-position: calc(100% + 1rem) bottom;
  background-size: 25% auto;
  background-image: url('/assets/media/svg/humans/custom-1.svg');
}